/*
 * add hover effect
 * change color
 * add padding top and bottom
 * add transition
 * */

@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Urbanist", sans-serif;
}

.header {
  position: relative;
  background-image: url("../images/gradient-background.png");
  background-size: cover;
  background-position: center;
  padding-bottom: 4rem;
  overflow: hidden;
}

.header .navbar-collapse {
  position: fixed;
  top: 0;
  bottom: 0;
  background-clip: padding-box;
  right: 100%;
  width: 18rem;
  padding-right: 0;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  overflow-y: auto;
  background: #1e2228;
  transition: left 0.3s ease-in-out;
  z-index: 1041;
  left: 0;
  visibility: visible;
}

.header .curve {
  position: absolute;
  fill: #fff;
  bottom: 0;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .nav-item {
  padding-right: 2rem;
  font-size: 20px;
  font-weight: bold;
}

.header .nav-item.logo {
  padding: 0 4rem 0 2rem;
  max-width: 350px;
  min-width: 250px;
}

.header .nav-item.logo img {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header .nav-item a {
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.header .nav-item a:hover {
  color: #d3d3d3;
}

.header .heading {
  color: #fff;
  padding-top: 60px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  max-width: 33%;
  margin: auto;
}

.header .heading .underline {
  background-image: url("../images/underline.svg");
  background-repeat: no-repeat;
  background-position-y: 100%;
}

.header p {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  max-width: 33%;
  margin: auto;
  margin-bottom: 2rem;
}

.header .btn {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  color: #343f52;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-family: inherit;
  margin: auto;
  padding: 17px 22px 17px 22px;
  transition: all 0.2s ease-in-out;
}

.header .btn:hover {
  outline: none;
  transform: translateY(-3px);
}

.header .toggle {
  display: none;
  width: 24px;
  height: 22px;
  padding: 0;
  margin-left: 4px;
  cursor: pointer;
  vertical-align: middle;
  border: none;
  background-color: transparent;
  margin: 0;
}

.header .toggle::before {
  content: "";
  background: #fff;
  display: block;
  width: 100%;
  height: 3px;
  margin: 0 0 5px;
}

.header .toggle::after {
  content: "";
  background: #fff;
  display: block;
  width: 100%;
  height: 3px;
  margin: 0 0 5px;
}

.header .toggle span {
  background: #fff;
  display: block;
  width: 100%;
  height: 3px;
  margin: 0 0 5px;
}

@media (max-width: 1000px) {
  .header .toggle {
    display: block;
  }
  .header .nav-item {
    display: none;
  }
  .header .nav-item.logo {
    display: block;
    padding: 0;
  }
  .header .nav-menu {
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (max-width: 556px) {
  .header .nav-item.logo {
    max-width: 200px;
    min-width: 100px;
  }
}
