@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

:root {
  --text-gray: #60697b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Urbanist", sans-serif;
  position: relative;
}

.off-canvas {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  background: #1e2228;
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
  overflow-y: auto;
}

.off-canvas .fa-times {
  padding: 0 0;
  background-color: 0 0;
  border: 0;
  line-height: 1;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  margin: 0;
  border-radius: 0;
  font-size: 20px;
  color: #d3d3d3;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.off-canvas .fa-times:hover {
  color: #fff;
}

.off-canvas img {
  max-width: 75%;
  padding: 3rem 0 2rem;
}

.nav-list-sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  margin-top: 0;
}

.off-canvas .nav-item a {
  color: #fff;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  display: block;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.off-canvas .nav-item a:hover {
  color: #d3d3d3;
}

.header {
  position: relative;
  background-image: url("../images/gradient-background.png");
  background-size: cover;
  background-position: center;
  padding-bottom: 300px;
  overflow: hidden;
}

.curve {
  position: absolute;
  fill: #fff;
  bottom: 0;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .nav-item {
  padding-right: 2rem;
  font-size: 20px;
  font-weight: bold;
}

.header .nav-item.logo {
  padding: 0 4rem 0 2rem;
  max-width: 350px;
  min-width: 250px;
}

.header .nav-item.logo img {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header .nav-item a {
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.header .nav-item a:hover {
  color: #d3d3d3;
}

.header .heading {
  color: #fff;
  padding-top: 60px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  max-width: 33%;
  margin: auto;
}

.header .heading .underline {
  background-image: url("../images/underline.svg");
  background-repeat: no-repeat;
  background-position-y: 100%;
}

.header p {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  max-width: 33%;
  margin: auto;
  margin-bottom: 2rem;
}

.bouncy-button {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  color: #343f52;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-family: inherit;
  margin: auto;
  padding: 17px 22px 17px 22px;
  transition: all 0.2s ease-in-out;
}

.bouncy-button:hover {
  outline: none;
  transform: translateY(-3px);
}

.header .toggle {
  display: none;
  width: 24px;
  height: 22px;
  padding: 0;
  margin-left: 4px;
  cursor: pointer;
  vertical-align: middle;
  border: none;
  background-color: transparent;
  margin: 0;
}

.header .toggle::before {
  content: "";
  background: #fff;
  display: block;
  width: 100%;
  height: 3px;
  margin: 0 0 5px;
}

.header .toggle::after {
  content: "";
  background: #fff;
  display: block;
  width: 100%;
  height: 3px;
  margin: 0 0 5px;
}

.header .toggle span {
  background: #fff;
  display: block;
  width: 100%;
  height: 3px;
  margin: 0 0 5px;
}

.header .toggle-cross {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  color: #fff;
  width: 24px;
  height: 22px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 50px;
}
.header .container {
  top: -160px;
}
.container {
  position: relative;
  max-width: 73%;
  margin: auto;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 25px;
}

.card {
  background-color: #fff;
  width: 25%;
  width: calc(25% - 25px);
  padding: 40px;
  box-shadow: 0 0.25rem 1.75rem rgba(30, 34, 40, 0.07);
  border-radius: 6px;
}

.card .icon {
  width: 44px;
  height: 44px;
  margin: 15px;
}

.card .heading {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #343f52;
}

.card .body {
  margin-bottom: 0.5rem;
  margin-top: 0;
  color: #60697b;
  font-size: 1rem;
}

.learn-more {
  position: relative;
  font-weight: 600;
  color: #e668b3;
  text-decoration: none;
}

.learn-more::before {
  content: "";
  transform-origin: 100%;
  transform: scaleX(0);
  transition: transform 0.3s linear;
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.learn-more:hover::before {
  transform-origin: 0;
  transform: scaleX(1);
  transition-timing-function: linear;
}
.learn-more .right-arrow {
  font-size: 13px;
  margin-left: 5px;
}

.learn-more.purple {
  color: #a07cc5;
}

.learn-more.orange {
  color: #f78b77;
}
.learn-more.green {
  color: #45c4a0;
}

.second-cards-section {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

/*the section header*/
.second-cards-section .text {
  width: 100%;
  text-align: center;
  margin: auto;
}

.second-cards-section .choice-heading {
  letter-spacing: 0.02rem;
  font-size: 1rem;
  color: #aab0bc;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  font-weight: 600;
  line-height: 1.35;
  margin-top: 0;
}

.second-cards-section .reasons {
  font-size: 2.1rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 2.5rem;
  margin-top: 0;
  color: #343f52;
}

.second-cards-section .reasons .underline {
  background-image: url("../images/underline.svg");
  background-repeat: no-repeat;
  background-position-y: 100%;
}

/*svg fill colors to be inlined*/
.pink-people-icon .fill-primary {
  fill: #e668b3;
}

.pink-people-icon .fill-secondary {
  fill: #f8d2e8;
}

.second-cards-section .card {
  align-items: start;
  flex: 1 1 30%;
  display: flex;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
}

.second-cards-section .card.first {
  box-shadow: 0 0.25rem 1.75rem rgba(30, 34, 40, 0.07);
}

.second-cards-section .card:hover {
  box-shadow: 0 0.25rem 1.75rem rgba(30, 34, 40, 0.07);
}

.second-cards-section .card .icon {
  margin-top: 0;
  flex-shrink: 0;
}

.second-cards-section .card-body-wrapper {
  margin-top: 5px;
}

.reasons-section {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}
.reasons-section > div {
  flex: 1 1 40%;
}
.reasons-section .image img {
  width: 100%;
  border-radius: 6px;
}

.reasons-section .reason > * {
  padding: 10px 0;
  color: var(--text-gray);
  line-height: 30px;
  font-size: 18px;
}

.reasons-section .reason-heading {
  color: #374254;
  font-size: 1.7rem;
}
.reasons-section .bouncy-button {
  background-color: #e668b3;
}
.reasons-section .reason ul {
  list-style-type: none;
}
.reasons-section .reason ul li svg {
  color: #e76fb7;
}

.reasons-section .reason .pink-btn {
  background-color: #e668b3;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-family: inherit;
  margin: auto;
  margin-top: 10px;
  padding: 0.5rem 1.2rem;
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
}

.reasons-section .reason .pink-btn:hover {
  outline: none;
  transform: translateY(-3px);
}

.pros-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f6f7f9;
  padding-top: 7rem;
}

.pros-section .container {
  position: static;
  display: flex;
  padding-bottom: 300px;
}

.pros-section .semi-circles {
  flex: 1 0 40%;
  display: flex;
  gap: 40px;
}

.pros-section .container .heading {
  text-align: left;
}

.pros-section .container .small-heading {
  letter-spacing: 0.02rem;
  font-size: 0.8rem;
  color: #aab0bc;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  font-weight: 600;
  line-height: 1.35;
  margin-top: 0;
}

.pros-section .container .big-heading {
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  color: #343f52;
  font-size: 2.1rem;
  padding-right: 2.5rem;
}

.pros-section .big-heading .underline {
  background-image: url("../images/underline.svg");
  background-repeat: no-repeat;
  background-position-y: 100%;
}

.pros-section .container .semi-circles svg path:nth-of-type(2) {
  stroke-dashoffset: calc(1 * 147.675px);
}
.pros-section .container .semi-circles .progress-pink {
  transition: stroke-dashoffset 1s linear;
  stroke: #e668b3;
  stroke-dashoffset: calc(0.05 * 147.675px) !important;
}

.pros-section .container .semi-circles .progress-orange {
  transition: stroke-dashoffset 1s linear;
  stroke: #f78b77;
  stroke-dashoffset: calc(0.2 * 147.675px) !important;
}
.pros-section .container .progressbar-num {
  position: absolute;
  top: 50%;
  left: 35%;
  font-size: 2rem;
  color: #343f52;
}
.pros-section .semi-circles .semi-circle {
  flex: 1 0 40%;
  width: 8.5rem;
  height: 4.25rem;
  position: relative;
}

.pros-section .container .progressbar-num::after {
  content: "%";
  font-size: 1.5rem;
  margin-left: 5px;
}
.semi-circle .caption {
  margin-top: 20px;
  text-align: center;
  font-size: 1.1rem;
  color: #343f52;
}

.section-testimonials .container {
  margin-top: -200px;
  background-color: #fff;
  display: flex;
  border-radius: 0.4rem;
  box-shadow: 0 0.25rem 1.75rem rgba(30, 34, 40, 0.07);
  overflow: hidden;
}

.section-testimonials .container .testimonial-item {
  flex: 1 1 40%;
}

.section-testimonials .container .testimonial-item img {
  position: relative;
  width: 100%;
  z-index: 1000;
}

.section-testimonials .testimonial-item.testimonials-wrapper {
  padding: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-testimonials .testimonial .quote {
  font-size: 1.1rem;
  line-height: 1.7;
  font-weight: 500;
  color: #60697b;
}

.section-testimonials .testimonial .title {
  color: #343f52;
  font-size: 1.1rem;
}

.section-testimonials .testimonial .profession {
  color: #60697b;
}

.section-testimonials .outer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.section-testimonials .inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.section-testimonials .item {
  padding: 0 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  user-select: none;
  cursor: pointer;
  background-color: #fff;
  transition: transform 1s linear;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-work {
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.section-work .headings {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-work .headings .title {
  margin-bottom: 5px;
  letter-spacing: 0.02rem;
  font-size: 0.8rem;
  color: #aab0bc;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  line-height: 1.35;
}

.section-work .headings .sub-title {
  font-size: 2.1rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 2.5rem;
  color: #343f52;
  padding-right: 150px;
  padding-left: 150px;
}

.section-work .headings .sub-title .underline {
  background-image: url("../images/underline.svg");
  background-repeat: no-repeat;
  background-position-y: 100%;
}
.section-work .images-wrapper {
  width: 100%;
}
.section-work .images-wrapper img,
.overlay-wrapper img {
  border-radius: 0.4rem;
  width: 100%;
}
.section-work .image,
.overlay-wrapper .image {
  padding: 12px;
  position: relative;
}
.section-work .images-wrapper .overlay-toggler {
  position: absolute;
  opacity: 0;
  z-index: 1;
  background-color: #f9f3f3;
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 9px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 22px;
  right: 22px;
}

.section-work .images-wrapper .overlay-toggler .fas.fa-expand {
  color: #343f52;
}

.section-work .images-wrapper .overlay-toggler:hover {
  background-color: #fff;
}

.section-work .images-wrapper .image:hover .overlay-toggler {
  opacity: 1;
  right: 1rem;
}

.section-work .images-wrapper .item .info-image,
.overlay-wrapper .info-image {
  margin-top: 20px;
  padding-left: 12px;
}

.section-work .item .info-image .name-image,
.overlay-wrapper .name-image {
  color: #343f52;
  line-height: 1.4;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.section-work .item .info-image .name-image:hover,
.overlay-wrapper .name-image:hover {
  color: #a07cc5;
}

.section-work .item .info-image .category,
.overlay-wrapper .category {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  color: #9499a3;
}

@media (max-width: 1500px) {
  .header .heading,
  .header p {
    max-width: 60%;
  }
  .section-testimonials .container {
    flex-wrap: wrap;
  }
  .section-testimonials .container .testimonial-item {
    min-height: 450px;
    flex: 1 1 100%;
  }
  .section-testimonials .testimonial {
    padding: 0 40px;
  }
}

@media (max-width: 1200px) {
  .header .heading,
  .header p {
    max-width: 80%;
  }

  .header .toggle.visible {
    display: block;
  }

  .header .toggle-cross.visible {
    display: flex;
  }

  .off-canvas.visible {
    transform: translateX(0);
  }

  .header .nav-item {
    display: none;
  }
  .header .nav-item.logo {
    display: block;
    padding: 0;
  }
  .header .nav-menu {
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .card {
    width: calc(50% - 25px);
  }
}

@media (max-width: 992px) {
  .second-cards-section .card {
    flex: 1 1 100%;
  }

  .reasons-section .reason {
    flex: 1 1 100%;
  }

  .pros-section .container {
    flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  .header .heading {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 2rem;
    max-width: 90%;
  }

  .header p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    max-width: 90%;
  }
  .header .btn {
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
  }
  .header .nav-item.logo {
    max-width: 200px;
    min-width: 100px;
  }

  .card {
    width: 100%;
  }
}

.prev:disabled,
.next:disabled {
  color: gray;
  cursor: none;
}
.prev,
.close-button,
.next {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}
.close-button {
  top: 20px;
  right: 20px;
}
.prev {
  left: 20px;
}
.next {
  right: 20px;
}
.inner {
  overflow: hidden;
  display: grid;
}

.item {
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  object-fit: cover;
  grid-area: 1/1/2/2;
}

.item img {
  pointer-events: none;
}

.outer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.btn-wrapper {
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn {
  background-color: transparent;
  border: 3px solid #d4d7dd;
  cursor: pointer;
  border-radius: 50%;
  padding: 3px;
  outline: none;
}

.btn:hover,
.btn.active {
  padding: 5px;
}

.overlay-wrapper {
  display: none;
  position: fixed;
  top: 0;
  z-index: 10001;
  padding: 2rem;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(57, 18, 6, 0.8);
  overflow: hidden;
}
.overlay-wrapper .inner {
  height: max-content;
}
.overlay-wrapper .outer {
  width: 50%;
  height: 75%;
}
