@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#e66465, #9198e5);
  font-family: "Urbanist", sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0;
  display: flex;
  height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  position: relative;
  color: #fff;
  top: 10px;
}

.nav {
  text-align: center;
  padding-bottom: 35rem;
  font-size: 20px;
}

.nav-list {
  list-style-type: none;
  font-weight: bold;
}

.nav-link-one {
  text-decoration: none;
  position: relative;
  bottom: 45px;
  right: 300px;
  padding-right: 1rem;
  padding-left: 1rem;
  color: #fff;
}

.nav-link-one:hover {
  color: #eaeaea;
}

.nav-link-two:hover {
  color: #eaeaea;
}

.nav-link-three:hover {
  color: #eaeaea;
}

.nav-link-four:hover {
  color: #eaeaea;
}

.nav-link-five:hover {
  color: #eaeaea;
}

.nav-link-six:hover {
  color: #eaeaea;
}

.nav-link-two {
  text-decoration: none;
  position: relative;
  bottom: 45px;
  right: 250px;
  color: #fff;
}

.nav-link-three {
  text-decoration: none;
  position: relative;
  bottom: 45px;
  right: 175px;
  color: #fff;
}

.nav-link-four {
  text-decoration: none;
  position: relative;
  bottom: 45px;
  left: 155px;
  color: #fff;
}

.nav-link-five {
  text-decoration: none;
  position: relative;
  bottom: 45px;
  left: 250px;
  color: #fff;
}

.nav-link-six {
  text-decoration: none;
  position: relative;
  bottom: 45px;
  left: 300px;
  color: #fff;
}
